<h3>Add/Edit Business</h3>
<form name="businessForm" class="form-horizontal">
	<div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="business.name" type="text" name="business.name" />
    </div>
  </div>
  	<div class="form-group">
    <label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
				<input class="form-control" ng-model="business.address" type="text" name="business.address" />
    </div>
  </div>
	<div class="form-group">
    <label class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
				<input class="form-control" ng-model="business.phone" type="phone" name="business.phone" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Owner</label>
    <div class="col-sm-10">
        <select class="form-control" ng-model="business.owner" name="business.owner" ng-options="user._id as user.email for user in users">
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="button" ng-click='Methods.Save()'>Save</button>
      <a class="btn btn-default" type="button" ng-href='/#/businesses'>Cancel</a>
    </div>
  </div>	
</form>
